.holiday {
    color: red;
    background-color: rgba(255, 181, 196, 0.42);
}

.react-calendar__tile--active {
    background: #006edc !important;
    color: white !important;
}

.active-tab {
    color: white;
    background-color: #006edc;
}

#sidebar {
    width: 250px;
    position: fixed;
    left: 0;
    height: 100vh;
    z-index: 999;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    padding: 24px 0px 24px 0px;
    background: #fff;

/*@include breakpoint(small-only) {*/
/*    width: 100%;*/
/*}*/
}


/*// garbage*/

/*   .main-content.sidebar-collapsed #sidebar {*/
/*       width: 50px;*/

/*!*@include breakpoint(small-only) {*!*/
/*!*    width: 0;*!*/
/*}*/

.menus {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow-y: auto;
}

.main-content.sidebar-collapsed #sidebar .menus a span,
.main-content.sidebar-collapsed #sidebar .menus p,
.main-content.sidebar-collapsed #sidebar .copyright-block {
    display: none;
}

.main-content.sidebar-collapsed #sidebar .menus a {
    width: 36px;
    border-radius: 50%;
}

.flex-column.nav {
    border-bottom: 1px solid rgba(55, 71, 79, 0.17);
    padding: 8px;
}

.flex-column.nav:last-child {
    border-bottom: 0;
}

.menus a {
    padding: 10px;
    font-size: 13px;
    letter-spacing: 0.25px;
    color: #37474f;
    text-decoration: none;
    line-height: 20px;
    border-radius: 4px;
}

.main {
    width: calc(100% - 250px);
    padding: 20px 20px 0px 20px;
    transition: all 0.3s;
    position: absolute;
    right: 0;
    background: #f5f6f6;
    min-height: 100vh;

/*@include breakpoint(small-only) {*/
/*    width: 100%;*/
/*    position: inherit;*/
/*}*/
}

.main-full {
    width: 100%;
    position: absolute;
}

.main-content.sidebar-collapsed .main {
    width: calc(100% - 50px);

/*@include breakpoint(small-only) {*/
/*    width: 100%;*/
/*}*/
}